<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ignore existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send all other requests to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>